html {
  font-size: 14px;
  background-color: #f3f5f7;
  color: #333;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

div {
  box-sizing: border-box;
}

i {
  font-style: normal;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
